* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: none;
}
body {
  overflow-x: hidden;
}
.body-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
/* Existing navbar styles */
nav {
  margin: none;
  width: 100%;
  padding: 0 20px;
  position: sticky;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
  justify-content: flex-end;
}

#burger {
  display: none;
}
nav ul li {
  padding: 0 15px;
}
nav ul li a {
  color: black;
  font-family: "Nanum Myeongjo", serif;
  font-size: 16px;
}
.navbar-list ul {
  justify-content: flex-end;
}
.navbar-logo {
  padding-left: 10px;
  font-size: 25px;
  font-family: "Nanum Myeongjo", serif;
}
/* Additional styles for black background */
.navbar-scrolled {
  background-color: rgb(255, 246, 234) !important;
}
.burger {
  display: none;
  padding-right: 10px;
}
.burger img:hover {
  color: rgb(0, 136, 255);
}
.burger img {
  cursor: pointer;
  width: 30px;
  height: 20px;
}
/* A media query for a large screen */
@media screen and (max-width: 550px) {
  .ul {
    transition: max-height 0.3s ease-in-out, padding-bottom 0.3s, padding-top 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    background-color: rgb(253, 246, 237, 0.9);
    flex-direction: column;
    gap: 40px;
    font-size: 18px;
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
  }

  .ul.show {
    max-height: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #burger {
    display: flex;
    cursor: pointer;
  }

  .navbar-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* Main Content */
  .home .home-content img {
    display: none;
  }
  .home .content-text {
    height: 100vh;
    width: 100%;
    background-image: url(../images/res.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
   .home .home-content .content-text h2 {
    font-size: 20px;
  }
  /* Product */
  .product #product-wrapper-img {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Menentukan lebar kolom, minimal 200px */
  }
  /* About */
  .about-card .about-card-img {
    display: none;
  }
  .about-card {
    background-image: url(./images/about-blur.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* Contact */
  .contact #contact-wrapper-content {
    display: flex;
    flex-direction: column;
  }
  .contact .contact-wrapper-content #contact-wrapper-content-text {
    width: 100%;
  }
}

nav {
  width: 100%;

  position: fixed;
  height: 80px;
  display: flex;
  margin-top: -20px;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
  justify-content: flex-end;
}
.title-fonts {
  font-family: "Bitter", serif;
}
#burger {
  display: none;
}

@media screen and (max-width: 750px) {
  .about-card {
    background-image: url(../images/about-blur.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .about-card .about-card-img {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #burger {
    display: block;
  }
}

/* Main Content */

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .home-content {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  height: 70%;
  background-color: rgb(255, 251, 244);
}
.home .home-content .content-img {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}
.home .home-content img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 100%;
}
.home .home-content .content-text {
  padding: 0 50px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  width: auto;
}
.home .home-content .content-text h2 {
  font-family: "Bitter", serif;
  font-size: 50px;
}
.home .home-content .content-text p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.4;
}
.home .home-content .content-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background-color: rgb(255, 203, 114);
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  color: #000000;
}
.home .home-content .content-text a:hover {
  background-color: rgb(255, 192, 83);
}

/* End Main Content */

/* Product Section */
.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.product h2 {
  font-family: "Bitter", serif;
}
.product .product-wrapper-img {
  padding: 0 10px;
  width: 100%;
  padding-top: 100px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Menentukan lebar kolom, minimal 200px */
}
.product .product-wrapper-img .product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.product .product-wrapper-img .product-box h3 {
  padding-top: 15px;
  font-family: "Bitter", serif;
}
.product .product-wrapper-img .product-box img {
  width: 150px;
  height: 170px;
}
.product-wrapper-luas {
  justify-content: flex-end;
  align-self: last baseline;
  margin: 0 10px;
  margin-top: 50px;
  height: 400px;
  background-image: url(../images/luas.jpg);
  background-size: 1000px auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.product-luas-text {
  color: rgb(0, 0, 0); /* Atur warna teks sesuai kebutuhan */
  padding: 20px; /* Atur ruang di sekitar teks */
  background-color: rgba(255, 255, 255, 0.4);
}
.product-luas-text p {
  padding-top: 5px;
  line-height: 1.4;
}
/* Product Sale */
.more-product {
  border-radius: 5px;
  padding: 10px;
  color: #4c4c4c;
  background-color: #e5e5e5;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  align-self: flex-end;
}
.more-product:hover {
  background-color: #999;
}
.product-wrapper-box-sale {
  padding: 0 10px;
  width: 98%;
  padding-top: 50px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Menentukan lebar kolom, minimal 200px */
}
.product-wrapper-box-sale .product-box-sale {
  height: 350px;
  column-gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
.product-wrapper-box-sale .product-box-sale:hover {
  border: solid 2px;
}
.product-wrapper-box-sale .product-box-sale img {
  margin-bottom: 20px;
  align-items: self-start;
  row-gap: 20px;
  width: 190px;
  height: 170px;
}
.product-wrapper-box-sale .product-box-sale .product-box-sale-text {
  text-align: left;
  width: 100%;
}
.product-wrapper-box-sale .product-box-sale .product-box-sale-text h6 {
  font-size: 15px;
  color: #999;
}
.product-wrapper-box-sale .product-box-sale .product-box-sale-text h5 {
  font-family: "Nanum Myeongjo", serif;
}
.product-wrapper-box-sale .product-box-sale .product-box-sale-text .price {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.product-wrapper-box-sale .product-box-sale .product-box-sale-text .price h2 {
  font-family: "Nanum Myeongjo", serif;
}
.product-wrapper-box-sale .product-box-sale .product-box-sale-text .price s {
  text-decoration: line-through;
  color: #4c4c4c;
  font-size: 19px;
  font-family: "Nanum Myeongjo", serif;
}
.product-wrapper-box-sale .product-box-sale .product-box-sale-text h3,
h2 {
  padding: 5px 0;
  font-size: 20px;
  font-family: "Bitter", serif;
}
/* about */
.about {
  margin: 0 10px;
  max-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.about .about-content h3 {
  text-align: center;
  font-size: 28px;
  font-family: "Bitter", serif;
}
.about-content-comment {
  width: 100%;
  padding-top: 90px;
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
}
.about-content-comment .comment-box {
  display: flex;
  height: 220px;
  flex-direction: column;
  align-content: end;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(89, 89, 89, 0.2);
  background-color: rgb(255, 254, 252);
}
.about-content-comment .cite-about {
  align-self: flex-end;
  width: 15px;
  height: 12px;
}
.about-content-comment .user-profile {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(223, 223, 223);
}
.about-content-comment .user-text h3 {
  width: 100%;
  font-size: 12px;
  padding-bottom: 10px;
}

.about-content-comment .user-text {
  height: 100%;

  width: 100%;
}
.about-content-comment .user-text p {
  max-width: 1000px;
  width: 100%;
  font-size: 13px;
  padding-bottom: 10px;
}
.about-content-comment .user-text h5 {
  font-size: 10px;
  width: 100%;
}

.about-card {
  height: 400px;
  margin-top: 40px;
  display: flex;
  max-width: 1000px;
  width: 100%;
  background-color: rgb(248, 246, 244);
  flex-direction: row;
  margin-bottom: 10px;
}
.about-card .about-card-text {
  height: 100%;
  justify-content: center;

  row-gap: 20px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.about-card .about-card-text a {
  border-radius: 5px;
  color: aliceblue;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 51);
}
.about-card .about-card-text h3 {
  font-family: "Bitter", serif;
  font-size: 25px;
}
.about-card .about-card-img {
  width: 500px;
}
.about-card .about-comment-box {
  position: absolute;
  align-self: flex-start;
}

/* Contact section */

.contact {
  margin: 0 10px;
  max-height: 500vh;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}
.contact h3 {
  font-size: 25px;
  font-family: "Bitter", serif;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.contact .contact-wrapper-content {
  display: flex;
  width: 100%;
  max-height: 500px;
  flex-direction: row;
}

.contact .contact-wrapper-content .contact-wrapper-content-text {
  color: aliceblue;
  text-align: left;
  background-color: rgb(44, 91, 52);
  border: none;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Bitter", serif;
}
.contact .contact-wrapper-content .contact-wrapper-content-text h2 {
  font-family: "Bitter", serif;
}
.contact .contact-wrapper-content .contact-wrapper-content-text h5 {
  font-family: "Bitter", serif;
  margin-top: 10px;
}
.contact .contact-wrapper-content .contact-wrapper-content-form {
  padding: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 91, 52);
}

.contact .contact-wrapper-content .contact-wrapper-content-form form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form inputs */
  gap: 15px;
}

.contact .contact-wrapper-content .contact-wrapper-content-form input {
  border: none;
  width: 100%;
  max-width: 350px; /* Set a maximum width for larger screens */
  padding: 8px; /* Add some padding for better spacing */
  box-sizing: border-box; /* Include padding in the width */
  margin-bottom: 10px;
}

.contact .contact-wrapper-content .contact-wrapper-content-form a {
  width: 100%; /* Adjust the width to make it more responsive */
  max-width: 350px; /* Set a maximum width for larger screens */
  background-color: rgb(255, 80, 80);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

/* End Contact section */

/* Footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #e9e9e9;
  background-color: #1d1d1d;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: "Bitter", serif;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
